.deps/
.libs/
*.la
*.lo
*.o
*.so
Makefile.in
Makefile
config.*
configure
.cproject
.project
.settings/
.version
autom4te.cache/
stamp-h1
autoregen.sh
libtool
missing
aclocal.m4
install-sh
depcomp
compile
ltmain.sh
stamp-h.in
gst-fluendo-ttml.spec
testsuite/*.gdp
testsuite/Animation/*.gdp
testsuite/Content/*.gdp
testsuite/Metadata/*.gdp
testsuite/Parameters/*.gdp
testsuite/Styling/*.gdp
testsuite/smpte-tt/*.gdp
testsuite/Timing/*.gdp
win32/vs10/Debug_0.10
win32/vs10/Release_0.10
win32/vs10/Debug_1.x
win32/vs10/Release_1.x
win32/vs10/ipch
win32/vs10/libgstfluttml_sdk.opensdf
win32/vs10/libgstfluttml_sdk.sdf
win32/vs10/libgstfluttml_sdk.suo
